---
layout: default
title: Software Arichitecture, Craftsmanship, and Technology Strategy | A.J. Brown
description: Technology Strategist, Software Architect, and craftsman with start-up leadership experience who loves solving interesting technical problems at scale.

---

<div class="home">

  <p class="intro">
    <strong class="heavy">Hi, My name is A.J.</strong> I enjoy writing software
    that solves interesting problems at scale.  I believe in and practice software
    craftsmaship, and enjoy working with others that do the same.
  </p>


{% if site.posts.size() > 1 %}
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

{% else %}

<p>There's not much to see here yet.</p>

{% endif %}

</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Vandalia",
    "addressRegion": "OH",
    "postalCode": "45377",
  },
  "colleague": [],
  "worksFor": {
    "@type" : "Organization",
    "name" : "MIDAS Education",
    "url" : "https://midaseducation.com"
  },
  "sameAs" : [
    "https://twitter.com/adrianjbrown",
    "https://www.linkedin.com/in/ajbrown",
    "https://github.com/ajbrown",
    "https://angel.co/adrianjbrown"
  ],
  "image": "https://ajbrown.org/aj_brown.jpg",
  "jobTitle": "VP Engineering",
  "name": "A.J. Brown",
  "telephone": "(937) 314-1457",
  "url": "https://ajbrown.org"
}
</script>
