---
layout: default
title: Principal Software Engineer @ Sonatype, Inc w/ Product Management Experience | A.J. Brown
description: The personal website of A.J. Brown -- Principal Engineer, Product Manager, Technology Strategist, AWS Certified Solutions Architect, and software craftsman with start-up leadership experience who loves solving interesting technical problems at scale.

---

<div class="home">

  <p class="intro">
    <strong class="heavy">Hi, My name is A.J.</strong>.
    I'm a seasoned software engineer and technical leader currently driving some really cool Software Supply Chain
    products and solutions as a Principal Engineer @ <a href="https://sonatype.com">Sonatype</a>
    (<a href="https://bit.ly/3oMSZoj">We're hiring!</a>).
  </p>

  <p  class="intro-sub">
    As a startup veteran, I've successfully played many roles from Engineer (individual contributor and management)
    to Product Manager to Chief Technology Officer.  At the end of the day, my passion is delivering products that improve the lives of
    customers for companies that improve the lives of it's employees.  Check out <a href="https://www.linkedin.com/in/ajbrown/">my LinkedIn profile</a>
    for more info on the great companies I've worked for.
  </p>

{% if site.posts.size > 0 %}
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

{% else %}

<p>There's not much to see here yet.</p>

{% endif %}

</div>

<script type="application/ld+json>
{
  "@context": "http://schema.org",
  "@type": "Person",
  "@id": "https://ajbrown.org/#person",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Vandalia",
    "addressRegion": "OH",
    "postalCode": "45377"
  },
  "colleague": [],
  "worksFor": {
    "@type" : "Organization",
    "name" : "Sonatype, Inc.",
    "url" : "https://sonatype.com",
    "sameAs" : [
      "https://www.linkedin.com/company/sonatype",
      "https://twitter.com/sonatype",
      "https://www.facebook.com/Sonatype/"
    ]
  },
  "sameAs" : [
    "https://twitter.com/adrianjbrown",
    "https://www.linkedin.com/in/ajbrown",
    "https://github.com/ajbrown",
    "https://angel.co/adrianjbrown"
  ],
  "image": "https://ajbrown.org/aj_brown.jpg",
  "jobTitle": "Principal Engineer, Research",
  "name": "A.J. Brown",
  "telephone": "(937) 626-5999",
  "url": "https://ajbrown.org",
  "email": "aj@ajbrown.org",
  "gender" : "male",
  "award": [
    "AWS Certified Solutions Architect"
  ],
  "birthplace": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Sacramento",
      "addressRegion": "CA",
      "addressCountry": "United States"
    }
  }
}
</script>
