---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Oswald|Roboto|Open+Sans:400italic,700italic,400,700);


// Our variables
$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', serif;

$base-font-family: $roboto;
$base-font-size:   18px;
$base-font-weight: 100;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #333E31;
$background-color: #fdfdfd;
$brand-color:      #336699;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
